*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container1{
    margin-top: 50px;
}
h1{
   font-size: 18px; 
}    
textarea{
    resize: none;
    width:450px;
    border: 2px solid black;
    border-radius: 20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    height:120px;
    margin-bottom: 20px;
    font-size: 15px;
}

.char-count{
    position: absolute;
    margin-left: 370px;
    margin-right: 10px;
    margin-top: -50px;
    font-size: 15px;
}

.error{
    color:red;
}
.warning-text{
    color:red;
    border: 2px solid red;
    border-radius: 20px;
    outline:none;

}
